.notification-enter {
    opacity: 0;
    transform: translateX(20px);
}
.notification-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms;
}
.notification-exit {
    opacity: 1;
    transform: translateX(0);
}
.notification-exit-active {
    opacity: 0;
    transform: translateX(20px);
    transition: all 300ms;
}